body {
    width: auto;
    background: rgb(15,15,15);
  }

h1.mainHeader {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 700;
}

p.button1 {    
    background-color: rgb(25, 25, 25);
    transition: background-color 0.5s;

    width: 300px;
    height: 50px;
    line-height: 50px;

    border-radius: 8px;
    margin: auto;
    padding: 4px;

    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 450;
}

p.button1:hover {
    background-color: rgb(126, 54, 219);
}

p.button1:active {
    background-color: rgb(181, 132, 247);
}

p.otherText {
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(185, 185, 185);
    font-weight: 400;
}

div.centerBlock p {
    display: block;
    text-decoration: none;
}

div.centerBlock {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}