body {
    background-color: rgb(12,12,12);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}
.reference > a:hover {
    color: rgb(0, 175, 255);
}
.social > a:hover {
    color: rgb(0, 175, 255);
}
.glow:hover {
    color: rgb(0, 175, 255);
}
::selection {
    background-color: #ffffff;
    color: #403353;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  opacity: 1;
}
::-webkit-scrollbar-thumb {
  transition: 0.4s;
  background: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(233, 233, 233);
}
.user-side {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding-left: 50px;
}
.info {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.pfp {
    border-radius: 8px;
}
@media (max-width: 1000px) {
    body {
        zoom: 2;
    }
    .gradient {
        position: absolute !important;
        width: 25% !important;
        height: 100% !important;
        background-color: rgb(12,12,12) !important;
        margin-bottom: 100px !important;
    }
    .user-side {
        padding-left: 0% !important;
    }
    .info {
        width: 100%;
        text-align: center;
        top: 200px;
    }
    .stuff {
        position: absolute;
        top: 200px;
        width:100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        text-align: center;
    }
    .social > a {
        margin-right: 3% !important; 
    }
}
.gradient {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 25%;
    margin: 0;
    padding: 0;
    background-color: rgb(12,12,12) !important;
}
#user {
  margin-top: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-size: 30px;
}
.alias {
    font-size: 15px;
    padding: 0px;
    margin-top: 0px;
}
#about {
    font-size: 15px;
    margin-top: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.reference {
    margin-top: 2px;
    margin-bottom: 2px;
}
.reference-text {
    font-size: 17px;
}
.social {
    margin-top: 10px;
    margin-bottom: 10px;
}
.social > a {
    margin-right: 10%;
}
.stuff {
    padding-left: calc(20% + 100px);
    width: calc(80% - 100px - 150px);
    height: 100%;
    padding-top: 100px;
    padding-right: 150px;
}
#category > h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1% 1%;
}
#category > a {
    display: block;
}
#category > a > #object {
    float: left;
    width: 45%;
    padding: 1% 1%;
    margin: 1% 1%;
    border-radius: 8px;
    background-color: rgb(20,20,20);
    padding-top: 1%;
}
.tile-title {
    font-size: 30px;
    top: 0;
}
.tile-about {
    display: block;
    margin: 5px 0px;
    font-size: 100%;
    max-height: 90px;
    height: 100px;
    min-height: 90px;
}
#object {
    transition: .1s linear;
    position: relative;
}
.preview {
    width: 50px;
    border-radius: 4px;
    vertical-align: middle;
}
h1 {
    float: left;
    margin-right: 75%;
    white-space: nowrap;
}
img {
    margin-right: 5px;
}