body {
    width: auto;
    background: rgb(15,15,15);
  }

h1.mainHeader {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 700;
}

p.mainText {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 450;
}

p.mainText:hover {
    color: blueviolet;
    content: "Withered#0008";
}

p.otherText {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(185, 185, 185);
    font-weight: 400;
}

div.mainBlock {
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    margin: 10px, 100px, 10px, 100px;
    padding: 2px;
    transition: background-color 1s;
}

div.mainBlock p {
    display: block;
    text-decoration: none;
}

div.mainBlock:hover {
    background-color: royalblue;
}