body {
    width: auto;
    background: rgb(15,15,15);
  }

h1.mainHeader {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 700;
}

p.mainText {
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    margin: auto;
    width: 30%;
    height: 50;
    padding: 4px;
    transition: background-color 1s;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 450;
}

p.mainText:hover {
    background-color: royalblue;
}

p.otherText {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(185, 185, 185);
    font-weight: 400;
}

div.centerBlock p {
    display: block;
    text-decoration: none;
}

div.centerBlock {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}