body {
    width: auto;
    background-color: #1a1a1a;
  }

h1.mainHeader {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 600;
}

p.mainText {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 300;
}

p.otherText {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(185, 185, 185);
    font-weight: 200;
}

div.mainBlock {
    background-color: #292929;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
}