body {
    width: 100%;
    background-color: #1a1a1a; /* #fffff */
  }

h1.main {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 600;
}

p.main {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 300;
}

p.other {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 200;
}
