body {
    width: auto;
    background: rgb(15,15,15);
  }

h1.mainHeader {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 600;
}

p.mainText {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 300;
}

p.otherText {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(185, 185, 185);
    font-weight: 200;
}

div.mainBlock {
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    margin: 10px;
    padding: 2px    ;
}